---
import WhatsAppButton from "./WhatsAppButton.astro";
---
<footer class="site-footer">
  <div class="container footer-grid">
    <div><img class="footer-logo" src="/wp-content/uploads/2025/10/mf-logo-w.webp" alt="Meat & Fish" /><p>Pusat daging, ikan, seafood, dan frozen food berkualitas.</p></div>
    <div><a href="/">Homepage</a><a href="/tentang-meatfish/">Tentang Meat & Fish</a><a href="/gabung-kemitraan/">Gabung Kemitraan</a></div>
    <div><WhatsAppButton /></div>
  </div>
  <p class="copyright">Copyright © 2026 MeatFish.co.id</p>
</footer>
